/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body,h1,p,b,a {
  padding:0;margin:0;
}
body {
  font-family: sans-serif;
  color: black;
  font-size: 16px;
  text-align:center;
  text-transform: lowercase;
  background: white;
  margin:10px;
}

h1 {
  color: black;
  font-family: serif;
  text-transform:uppercase;
  font-weight:900;
  word-wrap: break-word;
}
button {
  background-color:white;
  color:black;
  font-family: var(--header-text);
  text-transform:lowercase;
  margin:5px;
  padding:5px 10px;
  border-radius:5px;
  white-space:nowrap;
}
#status{
  position:absolute;top:0;left:0;width:100%;
  background-color:black;
  color:white;
}
.logo {
  display:inline;
  width:30px;height:auto;
  margin:0;margin-top:5px;
  background:black;
}
.fill{
  background-color:white;
}
#title{
  display:none;
}
#content{
  border:2px dotted black;
  width:auto;
}
.option{
  border:2px dotted black;
  padding:10px;
  margin:5px;
}